{% extends "wrapper.html" %}
{% block content %}

    
    <div class="row">
        {% for blog in blogs %}
        <div class="col-md-8 blog-main">
            <!-- <h3 class="pb-3 mb-4 font-italic border-bottom">
                From the Firehose
            </h3> -->

            <div class="blog-post">
                <a href="./blog?id={{blog.id}}"><h2 class="blog-post-title">{{blog.title}}</h2></a>
                <!-- <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p> -->
                {{blog.body}}
            </div><!-- /.blog-post -->
            <br>
            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
            </nav>

            <br>
            </div><!-- /.blog-main -->
            
        {%endfor%}

    </div>



{% endblock %}