{% extends "wrapper.html" %}
{% block content %}

    
    <div class="row">
        {% for blog in blogs %}
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <a href="./blog?id={{blog.id}}"><h2 class="blog-post-title">{{blog.title}}</h2></a>
                <!-- <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p> -->
                {{blog.body[0:200]}}
            </div><!-- /.blog-post -->
            <br>
            <br>
            </div><!-- /.blog-main -->
            
        {%endfor%}

    </div>



{% endblock %}